body {
  margin-top: 1.0em;
  background-color: #3484d2;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #555;
}
#container {
  margin: 0 auto;
  width: 600px;
}
#container h2 {
  text-align: center;
  color: #000;
}    
#header {
  color: #003366;
  font-style: italic;
  font-weight: 900;
  font-size: 1.2em;
}
#header h1 {
  margin: 0;
  text-shadow: rgba(0, 0, 0, .7) 1px 1px 2px;
  color: #515050;
  font-weight: 900;
  font-size: 1.2em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  -moz-box-shadow:    5px 5px 5px 6px #ccc;
  -webkit-box-shadow: 5px 5px 5px 6px #ccc;
  box-shadow:         5px 5px 5px 6px #ccc;
}
#header .logo {
  text-transform: none;
  font-style: none;
  text-decoration: none;
  color: #ffffff;
  margin-right: 7px;
  font-size: 1.5em;
}
section h2 {
  font-family: "Lucida Console", Monaco, monospace;
  margin-bottom: 5px;
}
section div {
  border-radius: 10px;
  background-color: #ffffff; 
}
section div p {
  padding: 10px;
  margin: 0px;
}    
.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs li { list-style: none; float: left; margin: 5px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none;}
