Django==1.4
PIL==1.1.7
South==0.7.6
django-annoying==0.7.6
django-grappelli==2.4.3
django-messages==0.4.4
django-socketio==0.3.5
django-wkhtmltopdf==1.2
gevent==0.13.8
gevent-socketio==0.2.1
gevent-websocket==0.3.6
greenlet==0.4.0
html5lib==0.95
sphinx-me==0.1.2
wsgiref==0.1.2
