<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<title>ScoreBoard{% block title %}{% endblock %}</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{{ STATIC_URL }}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="print" href="{{ STATIC_URL }}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.quicksearch.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css" type="text/css">
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/chosen.jquery.min.js"></script>
	<script type="text/javascript">
    $(function () {
        $('select').chosen();
		});
	</script>

	{% block head %}{% endblock %}
</head>

<body>
        <div id="banner">
                <div id="logo">
	                <h1><a href="/dashboard">scoreBoard</a></h1>
                </div>
                {% if user.is_authenticated %}
                    <div id="userPanel">
                       <strong><em>{{ user.username }}</em></strong> 
                       <strong>|</strong> <a href="/logout"> Logout </a>
                    </div>
                {% else %}
                    <div id="userPanel">
                       <a href="/login"> Login </a>
                    </div>
                {% endif %}
        </div>

        <div id="content">

            {% if user.is_authenticated %}
                <ul id="menu">
                  <li>
                    <a href="/results/live"> Live results </a>
                  </li>
                  <li>
                    Import teams
                  </li>
                </ul>
            {% else %}
                <ul id="menu">
                    <li> <a href="/results/live"> Live results</a> </li>
                </ul>
            {% endif %}
          {% block content %}{% endblock %}

    {% if messages %}
      <div class="flash">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
      </div>
    {% endif %}
  </div>
</body>
</html>
