{% extends "@layout.html" %}
{% block content %}

<h1>Welcome to scoreBoard</h1>

{% if user.is_authenticated %}
    <div style="width: 400px; float: left;">
        <h2>Events registered with scoreBoard</h2>
        {% include "events.html" %}
    </div>


    <div class="upMatches">
      <strong style="font-size: 20px;">Upcomming matches: </strong>
      {% include "quicksearch.html" %}
      {% for event in events %}
        {% for competition in event.competitions.all %}
            {% for group in competition.groups.all %}
                <div class="gName">
                  <strong>{{ event.name }} : </strong>{{ competition.name }} - {{ group.name }}
                </div>  <br/>
                <div class="groupMatches">
                    {% include "matches.html" with matches=group.matches.all %}
                </div>
            {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
    <div style="clear: both;"></div>


{% endif %}

{% endblock %}
