{% extends "@layout.html" %}
{% block title %} - Dashboard {% endblock %}
{% block content %}

<h1>Welcome to scoreBoard</h1>

{% if user.is_authenticated %}
  <section class="row">
    <div class="col span_6">
        <h2>Events registered with scoreBoard</h2>
        {% include "events.html" %}
    </div>

    <div class="col span_6">
      <strong style="font-size: 20px;">Upcomming matches: </strong><br />
      {% include "quicksearch.html" %}
      {% for event in events %}
        {% for competition in event.competitions.all %}
            {% for group in competition.groups.all %}
                <div class="gName">
                  <strong>{{ event.name }} : </strong>{{ competition.name }} - {{ group.name }}
                </div>
                <div class="groupMatches">
                    {% include "matches.html" with matches=group.matches.all onlyplay=True %}
                </div>
            {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>


{% endif %}

{% endblock %}
