
{% if matches %}
  <ul>
  {% for match in matches %}
    {% if match.playing == 'D' %}
    <li class='finished'>
      <a href="/results/match/{{ match.id }}">{{ match }}</a>
      <a class='button blue' href=/results/match/{{ match.id }}> See results! </a>
    </li>
    {% else %}
    <li><a href="/match/play/{{ match.id }}">{{ match }}</a> 
      <a class='button orange' href=/match/play/{{ match.id }}> Play ! </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  Unfortunately, no matches were found. 
  <a href="/matches/generate"> Generate some!</a>
{% endif %}
