{% if matches %}
<table class='matchTable'>
        {% for match in matches %}
          <tr>
            {% if match.playing == 'N' %}
                <td class='left'> 
                        {{ match.teamA.name }}
                </td>
                <td><strong>vs.</strong></td>
                <td class='right'> 
                        {{ match.teamB.name }}
                </td>
                <td>
                  <a class='button orange' href="/match/play/{{ match.id }}"> Play ! </a>
                </td>
            {% elif match.playing == 'P' %}
                <td class='left'> 
                    {{ match.teamA.name }}
                </td>
                <td><strong>vs.</strong></td>
                <td class='right'> 
                    {{ match.teamB.name }}
                </td>
                <td><a class="button" href=""> Restart</a></td>
            {% else %}
                <td class='left'> 
                    {{ match.teamA.name }}
                </td>
                <td><strong>{{ match.scoreA }}</strong></td> <td><strong>:</strong></td> <td><strong>{{ match.scoreB }}</strong></td>
                <td class='right'> 
                    {{ match.teamB.name }}
                </td>
                <td>
                  <a class="button" href="/results/match/{{ match.id }}"> See
                    more!</a>
                </td>
           {% endif %}

        </tr>
      {% endfor %}
</table>

{% else %}
      Unfortunately, no matches were found.
        {% if group %}
        <a href="/matches/generate/{{ group.id }}"> Generate some!</a>
        {% else %}
        <a href="/matches/generate/"> Generate some!</a>
        {% endif %}
 
{% endif %}
