@font-face {
	font-family: "digital-7";
  src: url(digital-7.ttf);
}
    
body {
  background-color: #000;
  color: #999;
	margin: 0;
  font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
}

#dialogMain {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#dialog {
	z-index: 10000000000;
}

#dialog table {
    color: #111;
}

/*TODO: bigger dialog*/

#tabs {
	height: 270px;
	background: #8C0000 !important;	
}

.half {
  width: 50%;
  text-align: center;
  float: left;
	padding-top: 30px;
}

.third {
  width: 48%;
}

.third div{
  margin: 0 auto !important;
}
    
.name {
  font-size: 3.2em;
  color: #ccc;
}
    
.score {
  float: left;
  font-size: 16em;
  margin: 0 auto;
  text-align: center;
}

.time{
  font-size: 5em;
  margin: 0 auto;
  padding-top: 10px;
  width: 250px;
  font-family: "digital-7";
	position: relative;
	z-index: 20;
}

.timecolon{
  float: left;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;  
  padding-top: 10px;
  width: 20px;
  font-family: "digital-7";
}

.colon {
	float: left;
	font-size: 16em;
  margin-top: -0.05em;
  text-align: center;
  width: 20px;
}

.leftBckg {
	opacity: 0;
	background-color: #006699;
	width: 50%;
	height: 80%;
	float: left;
  position: relative;
}

.rightBckg {
  position: relative;
	opacity: 0;
	background-color: #006699;
	width: 50%;
	height: 80%;
	float: right;
}

.startBckg {
  position: relative;
 	opacity: 0;
	background-color: #0042AB;
	width: 100%;
	height: 20%;
	clear: left;
}

#main{
  width: 100%;
  height: 100%;
	position: absolute; 
}
    

#names{
  height: 120px;
}

#scores{
	height: 200px;
        padding-top: 20px;
        color: #fff;
}

#timeBar {
	width: 300px;
	margin: 0 auto;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -150px;
}

#startStop{
  height: 60px;
  width: 350px;
  margin: 0 auto;
}

#scored {
  height: 40px;
}

.element {
	position: relative;
	z-index: 20;
}

.element1 {
	position: relative;
	z-index: 20;
        width: 420px !important;
}

.element2 {
	position: relative;
	z-index: 20;
        width: 420px !important;
}

.goalLText {
	font-size: 6em;
  color: #cccccc;
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 20;
}

.goalRText {
  font-size: 6em;
	color: #cccccc;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 20;
}

.startText {
  font-size: 6em;
	color: #cccccc;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 30;
}

#panel {
  background: #8C0000 !important;	
	position: relative;
	width: 300px;
	height: 277px;
	display: none;
  margin: 0 auto;
	z-index: 50;
}

.btn-slide {
	background-color: #220bff no-repeat center top;	
	padding: 10px;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	z-index: 50;
	cursor: pointer;
}

.slide {
	margin: 0;
	padding: 0;
  margin: 0 auto;
  width: 300px;
	height: 30px;
  background: #8C0000;	
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius:    0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

#underMain {
	width: 100%;
	position: absolute;
	z-index: 50;
} 

.active {
	background-position: right 12px;
}

button {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, 			#3d5691));
  background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -ms-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -o-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px; 
	margin-top: 6px;
}
  
button:hover {
  background-color: #7f8dad;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, 			#364c80));
  background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  cursor: pointer; 
}
  
button:active {
  -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
  -ms-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
  -o-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white; 
}

.placeholder {
  width: 150px;
  margin: 0 auto;
}

.placeholder2 {
  width: 160px;
	height: 80px;
	padding-top: 10px;
  margin: 0 auto;
}

.placeholder3 {
	width: 200px;
	padding-top: 5px;
  margin: 0 auto;
	text-align: center;
}

.input {
	width: 30px;
}

.saved {
	display: none;
}

.halftime {
	font-size: 6em;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 500;
}

#startAll {
  background: #3C4884;
  color: #F3F0A1;
  font-size: 6em;
  border-radius: 5px;
  cursor: pointer;

  position:fixed;
  z-index: 49;
  width:50%;
  height:20%;
  margin: -10% auto auto -25%;
  top:50%;
  left:50%;
}

#startText {
  text-align: center;
}

