
{% block #content %}

{#control eventList}

<div class="upMatches">
  <strong style="font-size: 20px;">Upcomming matches: <input type="text" placeholder="Quick Search" id="id_search" value="" name="search" style="margin-left: 5px;"> </strong> <br/>
    {% for match in matches %}
        {% for group in groups %}
            {% if match.playing == 'N' %}
                <div class="gName">      
                    <strong>{{ event.name }} : </strong>{{ group.name }} 
                </div>  <br/>
                <div class="groupMatches">        
                  
                </div>
            {% endif %}
    {% endfor %}
  {% endfor %}
</div>  
<div style="clear: both;"></div>
{% endblock %}


{% block head %}
    <script type="text/javascript">
			$(function () {
				$('input#id_search').quicksearch('.matchTable tbody tr');		

			});
		</script>
{% endblock %}
