
{block #content}
<div class="back" onclick="history.back();">
  &#8249;
</div>

<div style='margin-left: 100px;'>
<div>
<a class="button smaller" href="{plink Event:edit $event->id}"> Edit </a>  
<a class="button smaller blue" href="{plink Group:new $event->id}"> New group </a>
{if !$event->finished}
<a class="button smaller green" href="{plink Event:finish $event->id}"> Mark as finished</a>
{else}
<a class="button smaller" href="{plink Event:finish $event->id}"> Restart </a>
{/if}
<a class="button smaller red" href="{plink Event:delete $event->id}"> Delete </a>
</div>


<h1> {$event->name} </h1>

{control groupList, $event->id}

</div>
<div style="clear: both;"></div>

